.tile_wrapper{
    width: 1024px;
    height: 768px;
    position: relative;
}
.tile_image{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    display: block;
}
.tile_canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
}
.tile_row{
    display: flex;
}
.content{
    display: flex;
    flex-direction: row;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 90vh;
    top: 1vw;
    padding-left: 1vw;
}
.buttonWrapper{
    display: flex;
    flex-direction: row;
}
.entryTitle{
    font-weight: bold;
    margin: 0;
}
.entryDetails{
    margin: 0;
}
.entryWrapper{
    display: flex;
    flex-direction: row;
    padding: 1vh;
}
.entryIcon{
    width: 1vw;
    height: 1vw;
}
.entryIconWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entryDetailWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
.routeConfirm{
    align-self: flex-end;
}
.updateRoutes{
    align-self: flex-end;
}
